<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/fontawesome/css/all.css">
  <title th:text="${PageTitle}"></title>
</head>
<body class="d-flex align-items-center justify-content-center">
  
  <!-- Card Login Form -->
  <div class="card login-form-card col-4 bg-transparent border-0">

    <!-- Card Body -->
    <div class="card-body">

      <!-- Form Header -->
      <h1 class="form-header card-title mb-3">
        <i class="fa fa-user-circle"></i> Login
      </h1>
      <!-- Form Header -->
      
      <!-- Display Success Message -->
      <div th:if="${success}!=null" class="alert alert-success text-center border border-success">
        <b th:text="${success}"></b>
      </div>
      <!-- Display Success Message -->
      
      <!-- Display Error  -->
      <div th:if="${error}!=null" class="alert alert-danger text-center border border-danger">
        <b th:text="${error}"></b>
      </div>
      <!-- Display Error -->
      
      <!-- Logged Out Message -->
      <div th:if="${logged_out}!=null" class="alert alert-info text-center border border-info">
        <b th:text="${logged_out}"></b> 
      </div>
      <!-- Logged Out Message -->

      <!-- Login Form -->
      <form action="/login" method="POST" class="login-form">

        <!-- Form Group -->
        <div class="form-group col">
          <input name="email" class="form-control form-control-lg"
                                    type="email" placeholder="Enter Email...">
        </div>
        <!-- Form Group -->

        <!-- Form Group -->
        <div class="form-group col">
          <input name="password" class="form-control form-control-lg"
                             type="password" placeholder="Enter Password...">
        </div>
        <!-- Form Group -->
        
        <!-- Form Group -->
        <div class="form-group col">
          <input type="hidden" name="token" th:value="${token}">
        </div>
        <!-- Form Group -->

        <!-- Form Group -->
        <div class="form-group col">
          <button class="btn btn-lg">Login</button>
        </div>
        <!-- Form Group -->

      </form>
      <!-- Login Form -->

      <!-- Card Text -->
      <div class="card-text text-white my-2">
        Don't have an account ?
        <span class="ms-2">
          <a href="/register" class="btn btn-md text-warning">Sign Up</a>
        </span>
      </div>
      <!-- Card Text -->

      <!-- Back Button -->
      <small class="text-warning">
        <i class="fa fa-arrow-alt-circle-left"></i> 
        <a href="/" class="btn btm-sm text-warning">Back</a>
      </small>
      <!-- Back Button -->

    </div>
    <!-- Card Body -->

  </div>
  <!-- Card Login Form -->

</body>
</html>