*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: url("../images/main_bg.png");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#sample-text-card{
  margin: 0px 100px;
  font-family: Comfortaa;
  color:white;
}

#sample-text-card h1{
  font-size: 65px;
}

#sample-text-card p{
  font-size: 14px;
}

.button-wrapper a{
  width: 200px;
  padding: 15px;
  color: white;
  box-shadow: 0px 3px 6px rgb(0, 14,53);
}

.register{
  background-color: #FF4E00;
  margin-right: 7px;
  border:1px solid #8B2B00;
}

.login{
  background-color: #FFB114;
  border: 1px solid #543800;
}

.card{
  font-family: Comfortaa;
}

.card .card-title{
  color: white;
}

.card .form-control{
  margin: 10px 0px;
  box-shadow: 0px 3px 6px rgb(0, 14,53);
}

.card button{
  border:1px solid #8B2B00;
  background-color: #FF4E00;
  color:white;
  width:200px;
  margin: 10px 0px;
  box-shadow: 0px 3px 6px rgb(0, 14,53);
}