*{
  box-sizing: border-box;
  font-family: Comfortaa;
}

body{
  background-color: rgb(211,217,226);
}

.main-page-header{
  padding: 10px 0px;
}

.main-page-header .company-name{
  font-weight: 600;
  color:white;
}

.navigation{
  margin-left: 20px;
}

.navigation li{
  display: inline-block;
  list-style-type: none;
  margin: 0px 15px;
}

.navigation a{
  text-decoration: none;
  color:white; 
}

.display-name{
  font-weight: 600;
}

#add-account-btn{
  background-color: #FF4E00; 
  border:1px solid #8B2B00;  
  color: white;  
}

#transact-btn{
  background-color: #FFB114;
  border: 1px solid #543800;
}

.transact-btn{
  background-color: #FF4E00; 
  border:1px solid #8B2B00;  
  color: white;  
}

.container{
  margin: 10px auto;
}

.offcanvas{
  background-image: url("../images/offcanvas_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.payment-card{
  display:none;
}

.transfer-card{
  display: none;
}

.deposit-card{
  display: none;
}

.withdraw-card{
  display: none;
}