<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="withdraw" class="card withdraw-card">
  <!-- Card Body -->
  <div class="card-body">
  
    <!-- Deposit Form -->
    <form action="/transact/withdraw" method="POST" class="withdraw-form">

      <!-- Form Group -->
      <div class="form-group mb-2">
        <label>Enter Withdraw Amount</label>
        <input name="withdrawAmount" class="form-control" 
                         type="text" placeholder="Enter Withdraw Amount...">
      </div>
      <!-- Form Group -->
         
      <!-- Form Group -->
      <div class="form-group">
        <label>Select Account</label>
        <select name="accountId" class="form-control">
          <option value="">-- Select Account --</option>
          <th:block th:if="${accounts}!=null" th:each="account : ${accounts}">
            <option th:value="${account.getAccountId()}" 
                              th:text="${account.getAccountName()}"></option>
          </th:block>
        </select>
      </div>
      <!-- Form Group -->

      <!-- Form Group -->
      <div class="form-group my-2">
        <button class="btn btn-md transact-btn">Withdraw</button>
      </div>
      <!-- Form Group --> 
 
    </form>
    <!-- Deposit Form -->
  
  </div>
  <!-- Card Body -->
</div>  
</body>
</html>
